<app-modal-header (dismiss)="dismiss()">
  <h5>{{ title() }}</h5>
</app-modal-header>
<app-modal-content>
  @let formatValue = format();
  @if (formatValue === "html" || !formatValue) {
    <p [innerHTML]="content()"></p>
  } @else {
    <p [innerText]="content()"></p>
  }
</app-modal-content>
<app-modal-footer>
  <div class="flex w-full gap-2">
    @if (submit()) {
      <app-button (click)="dismiss()" expand>취소</app-button>
      <app-button (click)="_submit()" expand color="danger">확인</app-button>
    } @else {
      <app-button (click)="dismiss()" expand>확인</app-button>
    }
  </div>
</app-modal-footer>
