/* 유효한 상태 */
:host.ng-valid.ng-dirty {
  .error-border {
    border-width: 2px;
    border-color: #4caf50;
  }
  ::ng-deep mh-label label {
    color: #4caf50;
    transition-property: color;
    transition-duration: 300ms;
  }
}

/* 유효하지 않은 상태 */
:host.ng-invalid.ng-dirty {
  .error-border {
    border-width: 2px;
    border-color: #f44336;
  }
  ::ng-deep mh-label label {
    color: #f44336;
    transition-property: color;
    transition-duration: 300ms;
  }
}

/* 유효하지 않은 상태 */
:host.ng-invalid.ng-touched {
  .error-border {
    border-width: 2px;
    border-color: #f44336;
  }
  ::ng-deep mh-label label {
    color: #f44336;
    transition-property: color;
    transition-duration: 300ms;
  }
}
