input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

:host {
  textarea,
  input {
    width: 100%;
    border-radius: 0.375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #d1d5db;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  :hover {
    input,
    textarea {
      outline-color: #93c5fd;
    }
  }
  :focus {
    input,
    textarea {
      outline-color: #60a5fa;
    }
  }
}

/* 유효한 상태 */
:host.ng-valid.ng-dirty {
  input,
  textarea {
    outline-color: #4caf50;
  }
  ::ng-deep mh-label label {
    color: #4caf50;
    transition-property: color;
    transition-duration: 300ms;
  }
}

/* 유효하지 않은 상태 */
:host.ng-invalid.ng-dirty {
  input,
  textarea {
    outline-color: #f44336;
  }
  ::ng-deep mh-label label {
    color: #f44336;
    transition-property: color;
    transition-duration: 300ms;
  }
}

/* 유효하지 않은 상태 */
:host.ng-invalid.ng-touched {
  input,
  textarea {
    outline-color: #f44336;
  }
  ::ng-deep mh-label label {
    color: #f44336;
    transition-property: color;
    transition-duration: 300ms;
  }
}
